<h2 data-translation="Customer Info"></h2>
<ul class="list simple" data-bind="data: $data">
  <li>
    <span class="list-row">
      <span class="list-left" data-translation="Warning Date"></span>
      <span class="list-right" data-bind="text: warningDate"></span>
    </span>
  </li>
  <li>
    <span class="list-row"> 
      <span class="list-left" data-translation="Customer Name"></span>
      <span class="list-right" data-bind="text: customerName"></span>
    </span>
  </li>
  <li>
    <span class="list-row"> 
      <span data-translation="Customer Code"></span> 
      <span class="list-right" data-bind="text: customerCode"></span> 
    </span>
  </li>
  <li>
    <span class="list-row"> 
      <span class="list-left" data-translation="Company Code"></span>
      <span class="list-right" data-bind="text: companyCode"></span>
    </span>
  </li>
  <li>
    <span class="list-row">
      <span class="list-left" data-translation="Average Warning Level"></span> 
      <span class="list-right" data-bind="attr: {'data-translation': warningLevel}, text: warningLevel"></span>
    </span>
  </li>
</ul>
